!!!
/[if lt IE 7]
  <html class="ie6 oldie">
/[if IE 7]
  <html class="ie7 oldie">
/[if IE 8]
  <html class="ie8 oldie">
/[if IE 9]
  <html class="ie9 oldie">
<!-- [if (gt IE 9)|!(IE)]> <!-->
%html{class: "", lang: "ja"}
  <!--<![endif]-->
  %head
    %title= content_for?(:title) ? yield(:title) : "Web Marketing"
    / meta tags
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / OG
    %meta{property: "og:title", content: "AIITのご案内 〜コンパクト版〜"}
    %meta{property: "og:description", content: "AIITは品川シーサイドエリアにある専門職大学院です。情報アーキテクチャ専攻・創造技術専攻のコンパクトな紹介や、社会人に配慮した長期履修制度、科目等履修生度、付属図書館の情報などをまとめましたのでどうぞご覧ください。"}
    %meta{property: "og:image", content: "https://pr.aiit.ac.jp/images/landing/campus_night.png"}
    %meta{property: "og:url", content: "https://pr.aiit.ac.jp/"}
    %meta{property: "og:type", content: "university"}/
    %meta{property: "og:site_name", content: "AIIT: Advanced Institute of Industrial Technology"}/
    %meta{property: "fb:admins", content: "154020014683759"}/
    / CSRF
    = csrf_meta_tags
    %link{:href => "/assets/landing/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %link{:href => "/assets/landing/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}/
    = stylesheet_link_tag    "landing/application", :media => "all"
    = javascript_include_tag "landing/application"
    /[if lt IE 9]
      <script src="/assets/html5shiv.js?body=1"></script>
    = yield(:head)
    :javascript
      (function() {
        var wm = document.createElement('script');
        wm.type = 'text/javascript';
        wm.async = true;
        wm.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//pr.aiit.ac.jp/tracker.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wm, s);
      })();
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4739369-2']);
      _gaq.push(['_setDomainName', 'aiit.ac.jp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{onload: "initialize()"}
    = yield
    %footer
      %section#links
        %h3 AIITおすすめリンク集
        %a{href: 'http://aiit.ac.jp/', target: '_blank'}
          = image_tag 'landing/aiit_logo_200x200.fw.png', {height: '50px'}
        %a{href: 'https://www.facebook.com/aiit.ac.jp', target: '_blank'}
          = image_tag 'landing/facebook.fw.png', {height: '50px'}
        %a{href: 'https://twitter.com/#!/aiit4u', target: '_blank'}
          = image_tag 'landing/twitter.fw.png', {height: '50px'}
        %a{href: 'http://aiit.ac.jp/article/student_interview/index.html', target: '_blank', target: '_blank'}
          = image_tag 'landing/success_story.jpg', {height: '50px'}
        %a{href: 'http://aiit.ac.jp/article/pbl_interviews/interviews/index.html', target: '_blank'}
          = image_tag 'landing/pbl_interview.jpg', {height: '50px'}
        %a{href: 'http://d.hatena.ne.jp/pklib/', target: '_blank'}
          = image_tag 'landing/toshokan_titleimg.png', {height: '50px'}
        %a{href: 'http://pk.aiit.ac.jp/', target: '_blank'}
          = image_tag 'landing/logo_infotalk_c2_320.png', {height: '50px'}
        %a{href: 'http://www.apen.asia/', target: '_blank'}
          = image_tag 'landing/apen_logo.png', {height: '50px'}
      &copy; 2012- AIIT / All rights reserved.
      %figure
        = image_tag 'landing/qr_lp_to_lp.gif', {height: '100px'}
