!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title 産業技術大学院大学(AIIT)
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    / OG
    %meta{property: "og:title", content: "#{content_for?(:title) ? yield(:title) : 'AIIT 資料請求'}"}
    %meta{property: "og:description", content: "#{content_for?(:description) ? yield(:description) : '品川シーサイドエリアにある専門職大学院です。お問い合わせフォームもありますのでどうぞご利用ください。'}"}
    %meta{property: "og:image", content: "https://pr.aiit.ac.jp/assets/campus_night.png"}
    %meta{property: "og:url", content: "#{content_for?(:url) ? yield(:url) : 'https://pr.aiit.ac.jp/lp'}"}
    %meta{property: "og:type", content: "university"}/
    %meta{property: "og:site_name", content: "AIIT: Advanced Institute of Industrial Technology"}/
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}/

    / Le styles
    = stylesheet_link_tag    "bootstrap/application"
  %body
    .container
      = yield
    / /container
    .script
      / HTML5 shim, for IE6-8 support of HTML5 elements
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      / Le javascript
      = javascript_include_tag 'shared/application'
      = javascript_include_tag 'bootstrap/application'
