!!!
%html{lang: 'ja'}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= yield :title
    = stylesheet_link_tag    "bootstrap/application", :media => "all"
    = csrf_meta_tags
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  %body
    %div{class: 'navbar navbar-inverse navbar-fixed-top'}
      .navbar-inner
        .container
          %a.brand{href: '#'}
            = yield :title
    
    = yield
    = javascript_include_tag 'bootstrap/application'
