- @guidance_table = [['1/11(金)','19:30-21:00'],['1/19(土)','13:30-15:00'],['2/2(土)','13:30-15:00'],['2/8(金)','19:30-21:00']]
%section{id: 'capybara'}
  = javascript_include_tag "form/application"
  %a{name: 'request'} 
  %h3 資料請求・入試説明会への登録
  %p 大学案内や募集要項などの資料を無料で送付させて頂いております。お気軽にお申し込みください。
  = form_for @customer, url: '/page' do |f|
    %table
      %tr
        %th= f.label '氏名'
        %td
          = f.text_field :family_name, {placeholder: '姓'}
          = f.text_field :given_name, {placeholder: '名'}
          様
      %tr
        %th= f.label 'E-Mail'
        %td= f.email_field :email, {class: 'text_field', placeholder: '半角英数字でご記入ください'}
      %tr
        %th= f.label '〒'
        %td= f.text_field :postal_code, {placeholder: '半角7桁（ハイフン不要）', onKeyUp: "AjaxZip2.zip2addr(this, 'customer[address]','customer[address]');"}
      %tr            
        %th= f.label '住所'
        %td= f.text_area :address, {placeholder: '郵便物が届くようご記入ください', rows: "2"}
      %tr
        %th= f.label '備考'
        %td
          %textarea{id: 'comment', name: 'comment', rows: 2, placeholder: "「資料請求」「図書館を利用したい」など"}
      %tr
        %th= f.label '説明会'
        %td
          %select{id: 'guidance', name: 'guidance'}
            %option 未定
            - @guidance_table.each do |data|
              %option= "#{data[0]} #{data[1]}"
      %tr
        %th
        %td
          = f.submit '送信', {id: 'submit'}
  %small ◇備考欄には特に詳しく知りたい情報をご記入ください。
  %small ◇入試説明会に参加される方は日時を選択してください。
  %small ※個人情報は本学からの資料送付と入試説明会の参加者名簿の作成の目的に限って使用するものとし、第三者に開示することはありません。
  %small ※Webサーバとの通信はSSLにより暗号化しています。
  %small ※お電話による問い合わせは産業技術大学院大学 03-3472-7831 まで。