- content_for :title do
  プロジェクトマネジメント・プロフェッショナルスクール

- content_for :description do
  AIIT（産業技術大学院大学）とPMI日本支部の教育委員会が協力した、プロジェクトマネジメントを基礎から応用まで総合的に学ぶコースとして開発した実務家のためのプロジェクトマネジメントスクールです。1ユニット（＝最低40時間）から受講でき、PMP受験のためのめ学習時間にも、PMP取得者のPDUにも申請可能です。さらに、合計で120時間学修することにより、学校教育法に基づく「履修証明書」を取得できます。
- content_for :url do
  https://pr.aiit.ac.jp/wm/lp/pm

%header
  #banner
    = image_tag 'aiit_logo_200x200.fw.png', {width: '90px'}
    %h1
      プロジェクトマネジメント・
      %br
      プロフェッショナルスクール
    %h2
      産業技術大学院大学
      履修証明プログラム
  %nav
    %ul
      %li
        %a{href: '#pmp'} プログラムのご紹介
      %li
        %a{href: '#pmp_about'} プログラムの狙い
      %li
        %a{href: '#pmp_target'} 受講対象者
      %li
        %a{href: '#pmp_unit'} 開講期間と受講料
      %li
        %a{href: '#about'} AIITのご紹介
%article
  %section
    %a{name: 'pmp'}
    %h3 このプログラムのご紹介
    %p
      %a{href: '/lp', target: '_blank'}
        AIIT（産業技術大学院大学）
      とPMI日本支部の教育委員会が協力した、プロジェクトマネジメントを基礎から応用まで総合的に学ぶコースとして開発した実務家のためのプロジェクトマネジメントスクールです。
    %p 1ユニット（＝最低40時間）から受講でき、PMP受験のためのめ学習時間にも、PMP取得者のPDUにも申請可能です。さらに、合計で120時間学修することにより、学校教育法に基づく「履修証明書」を取得できます。講義は土曜日と平日夜を中心に開講しますので、働きながら学ぶことができます。
    %a.request{href: '#request'} 資料請求
  %section
    %a{name: 'pmp_about'}
    %h3 プログラムの狙い
    %p プロジェクトマネジメントに関してPMBOKを基礎とする基本的な知識から、パーソナルスキル、リーダシップなどさまざまな視点での基礎的な知識を整理して学ぶことを目的とします。
    %p さらに、リスクマネジメントやEVMなどより高度な技法や技術を学びやすいように選択して学ぶことができます。
    %p そして、これらの単体の知識やスキルを総合的に活用する訓練の場として、100人月規模の実務レベルの模擬プロジェクトを実施するコースも提供し、実践で活用できる能力の養成など幅広い学習の場を提供すします。
    %a.request{href: '#request'} 資料請求
  %section
    %a{name: 'pmp_target'}
    %h3 受講対象者
    %p これからプロジェクトリーダーやプロジェクトマネジメントを任されようとしているエンジニア。また、複数のプロジェクトを管理するPMO部門のスタッフ、さらにはプロジェクトを統括するマネジメントを対象とします。
    %a.request{href: '#request'} 資料請求
  %section
    %a{name: 'pmp_unit'}
    %h3 各ユニットの開講期間と受講料
    %p 日本の大学を卒業した方であれば出願できます。それ以外の方は事前審査が必要です。
    %p 授業料は選択科目数によって変わります。各ユニットの定員は20名です。別途受講者選定手数料（9,800円）が必要です。
    %p 各ユニットで最低で40時間以上の科目を合格すれば修了となります。
    %table.common
      %tr
        %th
        %th ユニット1
        %th ユニット2
        %th ユニット3
      %tr
        %th 概要
        %td プロジェクトマネジメントの基本を学習したい方のための入門的な内容を中心ととする。
        %td 実務レベルの模擬プロジェクトの実践の場を提供する。
        %td さらにマネジメント的な視点でプロジェクトマネジメントを整理する。
      %tr
        %th 願書締切
        %td 7/18（水）
        %td 9/12（水）
        %td 11/21（水）
      %tr
        %th 開講期間
        %td 8/18（土）〜9/29（土）
        %td 10/6（土）〜12/1（土）
        %td 12/15（土）〜3/2（土）
      %tr
        %th 受講料
        %td 53,760円〜69,120円
        %td 51,840円〜80,640円
        %td 51,840円〜88,320円
    %p 詳しい資料をお送りいたしております。このページのフォームより、資料をお申し込みください（備考欄に「PMPスクール」とご記入ください）。
    %p ※このプログラムは「教育訓練給付制度指定講座」です。
    %a.request{href: '#request'} 資料請求
  = render 'about'
%aside
  = render 'certification'
  = render 'kyuufukin'
  = render 'access'
  = render 'request'
