= simple_form_for(@form, :html => { :class => 'form-horizontal'}, url: '/form/') do |f|
  = f.error_notification

  .form-inputs
    = f.input :family_name
    = f.input :given_name
    = f.input :inquiry
    = f.input :postal_code
    = f.input :address
    = f.input :email
    = f.input :browser_id

  .form-actions
    = f.button :submit
