= simple_form_for(@form, :html => { :class => 'form-horizontal'}, url: '/form/') do |f|
  = f.error_notification

  .form-inputs
    = f.input :family_name, label: '姓'
    = f.input :given_name, label: '名'
    = f.input :inquiry, label: 'お問い合わせの内容'
    = f.input :postal_code, label: '郵便番号'
    = f.input :address, label: '住所'
    = f.input :email, label: 'E-Mail'

  .form-actions
    = f.button :submit, value: '送信'
