= simple_form_for(@form) do |f|
  = f.error_notification

  .form-inputs
    = f.input :address
    = f.input :browser_id
    = f.input :inquiry
    = f.input :email
    = f.input :family_name
    = f.input :given_name
    = f.input :postal_code

  .form-actions
    = f.button :submit
