%h1 Listing forms

%table
  %tr
    %th Address
    %th Browser
    %th Inquire
    %th Email
    %th Family name
    %th Given name
    %th Postal code code
    %th
    %th
    %th

  - @forms.each do |form|
    %tr
      %td= form.address
      %td= form.browser_id
      %td= form.inquire
      %td= form.email
      %td= form.family_name
      %td= form.given_name
      %td= form.postal_code_code
      %td= link_to 'Show', form
      %td= link_to 'Edit', edit_form_path(form)
      %td= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Form', new_form_path
