%p#notice= notice

%p
  %b Address:
  = @form.address
%p
  %b Browser:
  = @form.browser_id
%p
  %b Inquiry:
  = @form.inquiry
%p
  %b Email:
  = @form.email
%p
  %b Family name:
  = @form.family_name
%p
  %b Given name:
  = @form.given_name
%p
  %b Postal code:
  = @form.postal_code

= link_to 'Edit', edit_form_path(@form)
\|
= link_to 'Back', forms_path
