- content_for :title do
  AIITのご案内 〜コンパクト版〜

-# .sizecheck
  SIZE CHEK [red: < 480, green: < 768, yellow: < 960, white: higher]
-# %a{href: 'http://aiit.ac.jp/', target: '_blank'} Jump to AIIT website
%header
  #banner
    = image_tag 'landing/aiit_logo_200x200.fw.png', {width: '90px'}
    %h1 Advanced Institute of Industrial Technology
    %h2 産業技術大学院大学
  %nav
    %ul
      %li
        %a{href: '#about'} AIITのご紹介
      %li
        %a{href: '#curriculum'} カリキュラム
      %li
        %a{href: '#isa'} 情報アーキテクチャ専攻
      %li
        %a{href: '#ide'} 創造技術専攻
      %li
        %a{href: '#chouki_rishuu'} 長期履修制度
      %li
        %a{href: '#aiit_credit_bank'} AIIT単位バンク
%article
  = render 'about'
  %section
    %h3 講義とPBLを柱としたカリキュラム
    %a{name: 'curriculum'}
    %p カリキュラムの大きな特色は講義とPBL（Project Based Learning）を2本の柱としていることです。講義は主に1年次に履修する科目で、スクール形式の授業やグループワーク形式の演習などがあります。
    %figure
      = image_tag 'landing/chubachi_pbl.png'
    %p PBLは実践的なテーマに基づきチームでプロジェクトを遂行することによって、徹底的に業務遂行能力を身につける演習形式の授業です。従来の大学院修士課程では修士論文を完成させることが修了の要件となりますが、AIITではPBL科目を履修して単位を取得することが必須です。
    %a.request{href: '#request'} 資料請求

  %section
    %a{name: 'isa'} 
    %h3 情報アーキテクチャ専攻
    %p 情報システムに関連する様々な業務を円滑に進めるためのメソドロジーや、日々めまぐるしく成長するテクノロジーに即応できる高度な人材が必要とされています。単に最先端の技術動向をウォッチするだけではなく、本質的に重要な知識を体系的に学ぶことこそ、情報システムのアーキテクトに求められる重要な資質と言えるでしょう。
    %figure
      = image_tag 'landing/classroom.png'
    %p 企業の CIO やコンサルタント、プロジェクトのマネージャー、ソフトウェアやインフラストラクチャーの高度な専門技術者などを育成する、確かなカリキュラムを用意しています。
    %p この専攻を修了することで「情報システム学修士（専門職）」の学位が取得できます。
    %a.request{href: '#request'} 資料請求

  %section
    %a{name: 'ide'} 
    %h3 創造技術専攻
    %p 創造技術専攻では、感性デザイン領域と工学領域を融合した教育でイノベーション人材を育成します。インダストリアル・デザインや、マーケティング、企画、開発など、日本が誇るものづくりの実践的手法を体系的に学びたい方に向けたカリキュラムを提供しています。
    %figure
      = image_tag 'landing/designers_lab.png'
    %p 専攻では大学でデザインやエンジニアリングを学んだ後、更に実践力を伸ばすために進学した学生も在籍しており、若い力と共にプロジェクトを遂行できることも特徴です。
    %p この専攻を修了することで「創造技術修士（専門職）」の学位が取得できます。
    %a.request{href: '#request'} 資料請求

  %section
    %a{name: 'chouki_rishuu'} 
    %h3 長期履修制度
    %p 『仕事と両立させながら2年間通学して学位を取得するのは難しいかもしれない』『せっかく入学するのだからじっくりと学修する時間をとりたい』
    %p
      このような要望にお応えするため、AIITには「長期履修制度」があります。
    %figure
      = image_tag 'landing/chouki_rishuu.fw.png', {width: '200px'}
    %p
      この制度を使うと、2年間で修了する場合と同じ学費で、より長い期間で授業を履修することができます。
    %p
      図の中央にある赤い矢印が、長期履修制度を利用した場合の例です。通常、1年間で学修する講義を2年間かけて履修することになりますので、その分余裕をもって授業に出席できるようになります。
    %p
      なお、10月入学の場合は、図の右側にある赤い矢印で示すとおり、全体で2年半となる長期履修制度を利用します。
    %a.request{href: '#request'} 資料請求

  %section
    %a{name: 'aiit_credit_bank'} 
    %h3 AIIT単位バンクと科目等履修生制度
    %p 『今すぐ入学するのは難しいけれど、いくつか履修してみたい科目がある』『4月入学が決まったけれども、入学前に講義を受けておきたい』
    %p このような方におすすめするのが「科目等履修生制度」です。
    %p この制度を利用すれば、１科目からでも授業を履修をすることができます。ご興味・ご関心のある領域の授業を選んで最先端の知見・スキルを修得してください。
    %p しかも、それだけではありません。
    %figure
      = image_tag 'landing/kamokutou_rishuu.fw.png'
    %p 科目等履修生として取得した単位は自動的に「AIIT単位バンク」に預けられます。
    %p そして、もしあなたが将来AIITに入学した場合、預けた単位を引き出すことができるのです。
    %p このとき、科目等履修生として支払った授業料も返還されるので学費が無駄になることがありません。
    %p なお、AIIT単位バンクに預けた単位は5年間有効です。この制度をどうぞご活用ください。
    %a.request{href: '#request'} 資料請求
%aside
  = render 'request'
  %section
    %h3 入試説明会
    %p 研究科・各専攻の紹介やキャンパスツアー、入学試験についてご案内をする入試説明会を開催しています。
    %p AIITにおける学修やキャンパスライフ、お仕事との両立方法など、あらゆることに関して教員がご相談をお受けいたします。
    %p 会場は品川シーサイドキャンパスです。
    %table.common
      %tr
        %th 日付
        %th 時刻
      - @guidance_table.each do |data|
        %tr
          %td= data[0]
          %td= data[1]
    %a.request{href: '#request'} 資料請求
  = render 'access'
  -# %section
    %h3 フォーラム・勉強会
    %p IT系の技術に関する勉強会「InfoTalk」を毎月開催しています。また、デザイン分野のプロフェッショナルにご登壇頂く「デザインミニ塾」も開催しています。
    %p これらの勉強会にはどなたでもご自由にご参加いただけます（日程・内容はこのページの下部にあるリンク集のリンク先をご参照ください）。
    %a.request{href: '#request'} 資料請求
  %section
    %h3 入学料・授業料など
    %p 公立ならではのリーズナブルな授業料です。各種奨学金や授業料の減免・分納制度もございます。また、教育訓練給付制度指定講座です。
    %table.common
      %tr
        %th{colspan: 2} 入学考査料
        %td 30,000円
      %tr
        %th{rowspan: 2} 入学料
        %th 東京都の住民
        %td 141,000円
      %tr
        %th その他の者
        %td 232,000円
      %tr
        %th{colspan: 2}  授業料（年額）
        %td 520,800円
    %p
      AIIT単位バンク（科目等履修生）制度の授業料は次のとおりです。
    %table.common
      %tr
        %th 入学考査料
        %td 9,800円
      %tr
        %th 授業料（1科目=2単位）
        %td 28,800円
    %a.request{href: '#request'} 資料請求
  %section
    %h3 附属図書館のご案内
    %p AIITには約1万4千冊の蔵書を有する図書館があります。専門職大学院の附属図書館らしく、情報技術、経営、工学、デザインなどの各種専門書を数多く取り揃えているのが特徴です。
    %figure
      = image_tag 'landing/library.png'
    %p 同じ建物にある都立高専の170万冊以上の蔵書も閲覧でき、ゆったりとした配置の館内で、落ち着いて図書の閲覧をしていただけます。
    %p なお、本学の図書館は東京都で働いている方と京浜地区の事業所にお勤めの方にも無料で開放しています。
    %a.request{href: '#request'} 資料請求
  %section
    %h3 QR Code
    %figure
      = image_tag 'landing/qr_lp_to_lp.gif', {height: '100px'}
    %p このページへのQRコードです。スマートフォンにも対応しています。通常の携帯電話ではPCサイトビューアなどで閲覧してください。  
