!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %title 産業技術大学院大学（AIIT）
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    / = render 'layouts/forms/head'
    = stylesheet_link_tag    "forms/application"
  %body
    .container
      = yield
      %footer
        %hr
        %p
          © Advanced Institute of Industrial Technology 2013
    .javascript
      = javascript_include_tag 'shared/application'
      = javascript_include_tag 'forms/application'
      = render 'shared/tracker'
      / HTML5 shim, for IE6-8 support of HTML5 elements
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
