!!!
%html{:lang => "ja"}
  %head
    %title 産業技術大学院大学（AIIT）
    / meta tags
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", |
      :name => "viewport"} 
    = favicon_link_tag('favicon.ico')
    = csrf_meta_tags
    = render 'layouts/open_graph'
    / style sheets
    = stylesheet_link_tag    "forms/application"
  %body
    .container
      = yield
      %footer
        %hr
        %p
          © Advanced Institute of Industrial Technology 2013
    .javascript
      /[if lt IE 9]
        = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      = javascript_include_tag 'shared/application'
      = javascript_include_tag 'forms/application'
      = render 'shared/tracker'
