!!!
/[if lt IE 7]
  <html class="ie6 oldie">
/[if IE 7]
  <html class="ie7 oldie">
/[if IE 8]
  <html class="ie8 oldie">
/[if IE 9]
  <html class="ie9 oldie">
<!-- [if (gt IE 9)|!(IE)]> <!-->
%html{class: "", lang: "ja"}
  <!--<![endif]-->
  %head
    %title= content_for?(:title) ? yield(:title) : "AIITのご案内 〜コンパクト版〜"
    / meta tags
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}
    = favicon_link_tag('favicon.ico')
    = csrf_meta_tags
    = render 'layouts/open_graph'
    / style sheets
    = stylesheet_link_tag    "pages/application", :media => "all"
    / scripts
    = render 'layouts/ie'
    = javascript_include_tag "shared/application"
    = javascript_include_tag "pages/application"
    = render 'layouts/tracker'
    = render 'layouts/google_analytics'
  %body
    = yield
    %footer
      &copy; 2012- AIIT / All rights reserved.
      = yield :footer
