!!!
/[if lt IE 7]
  <html class="ie6 oldie">
/[if IE 7]
  <html class="ie7 oldie">
/[if IE 8]
  <html class="ie8 oldie">
/[if IE 9]
  <html class="ie9 oldie">
<!-- [if (gt IE 9)|!(IE)]> <!-->
%html{class: "", lang: "ja"}
  <!--<![endif]-->
  %head
    %title= content_for?(:title) ? yield(:title) : "AIITのご案内 〜コンパクト版〜"
    =render 'layouts/pages/head'
    / style sheets
    = stylesheet_link_tag    "pages/application", :media => "all"
    / scripts
    = javascript_include_tag "shared/application"
    = javascript_include_tag "pages/application"
    /[if lt IE 9]
      <script src="/javascripts/html5shiv.js"></script>
    = render 'shared/tracker'
  %body
    = yield
    %footer
      %section#links
        %h3 AIITおすすめリンク集
        %a{href: 'http://aiit.ac.jp/', target: '_blank'}
          = image_tag 'aiit_logo_300x200.gif', {height: '50px'}
        %a{href: 'https://www.facebook.com/aiit.ac.jp', target: '_blank'}
          = image_tag 'facebook.gif', {height: '50px'}
        %a{href: 'https://twitter.com/#!/aiit4u', target: '_blank'}
          = image_tag 'twitter.gif', {height: '50px'}
        %a{href: 'http://aiit.ac.jp/article/student_interview/index.html', target: '_blank', target: '_blank'}
          = image_tag 'success_story.jpg', {height: '50px'}
        %a{href: 'http://aiit.ac.jp/article/pbl_interviews/interviews/index.html', target: '_blank'}
          = image_tag 'pbl_interview.jpg', {height: '50px'}
        %a{href: 'http://d.hatena.ne.jp/pklib/', target: '_blank'}
          = image_tag 'toshokan_titleimg.png', {height: '50px'}
        %a{href: 'http://pk.aiit.ac.jp/', target: '_blank'}
          = image_tag 'logo_infotalk_c2_320.png', {height: '50px'}
        %a{href: 'http://www.apen.asia/', target: '_blank'}
          = image_tag 'apen_logo.png', {height: '50px'}
      &copy; 2012- AIIT / All rights reserved.
      = yield :footer